* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #1a1a1a;
    --second-bg-color: #364053;
    --text-color: #fff;
    --main-color: rgb(0, 255, 72);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--text-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}